.spinner {
  stroke: darkgray;
  stroke-width: 4;
}

.circle {
  fill: lightblue;
}

.rect {
  fill: white;
  fill-opacity: .5;
  animation: rotation 2s infinite alternate-reverse;
  transform-origin: 50% 50%;
}

.hex {
  fill: lightgreen;
  animation: rotation 2s infinite;
  transform-origin: 50% 50%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

