.grid {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
}

main {
  min-width: 0;
  flex: 1;
  width: 100vw;
  background-color: white;
  padding: var(--base-height) 0;
}

.mdx {
  padding: 0 1rem;
  max-width: 850px;
  margin: auto;
}

.mdx h2:first-child {
  margin-top: 0;
}

p.toot label {
  margin-right: 2rem;
}

.binding-example {
  margin-bottom: var(--base-height);
}

.binding-example .label {
  margin-left: .5rem;
}

.binding-example .checkbox:checked ~ .label:after {
  margin-left: .5rem;
  content: '🥔';
}

.binding-example .checkbox:checked ~ .label {
  font-style: italic;
}

.path-explorer path {
  stroke-width: 2.25;
  fill: none;
  stroke: var(--highlight-color);
}

.path-explorer .control-lines line {
  stroke-width: 2;
  stroke-dasharray: 2 3;
  stroke: var(--text-color);
}

.path-explorer {
  display: flex;
  flex-direction: row;
}

.path-explorer textarea {
  box-sizing: border-box;
  border: none;
  border-top: 12px solid var(--highlight-color);
  border-bottom: 12px solid var(--highlight-color);
  font-size: 1.4rem;
  line-height: var(--base-height);
  background-color: var(--offset-color);
  width: 100%;
  height: 96px;
  padding: 12px 0;
  margin: 0;
}


.path-explorer .command-list {
  flex: 1;
  padding-right: 1rem;
}

.path-explorer .path-preview {
  position: relative;
  flex: auto;
}

.path-explorer .path-preview>div {
  position: absolute;
  width: 100%;
}

.path-explorer .path-preview .exploded {
  opacity: 1;
}

.path-explorer .path-preview .exploded path {
  stroke: var(--pop-color);
}

.path-explorer .path-preview .exploded path:not(.active) {
  opacity: 0;
}

.path-explorer .path-preview .exploded .command-controls:not(.active) {
  opacity: 0;
}

.path-explorer .path-preview .original path {
  stroke-width: 2.25;
}

.command-list li {
  display: inline;
}

.command-list ul {
  display: inline;
  margin: 0;
  padding: 0;
}

.path-explorer .param-name {
  display: none;
}

.path-explorer svg * {
  vector-effect: non-scaling-stroke;
}

.path-explorer .param-description {
  display: none;
}

.path-explorer .command-description {
  display: none;
}

.path-explorer .point {
  fill: white;
  stroke-width: 1;
  stroke: var(--text-color);
}

marker {
  fill: var(--text-color);
}
