.face, .face * {
  transform-origin: center center;
  transform-box: fill-box;
  backface-visibility: visible;
}

.eyes {
}
.eye.left {
  transform: translateX(-22px);
  fill: var(--highlight-color);
}

.eye.right {
  transform: translateX(22px);
  fill: var(--highlight-color);
}
