.eye, .eye * {
  transform-origin: center center;
  transform-box: fill-box;
  backface-visibility: visible;
}

.eye .left {
  transform: translateX(-22px);
  fill: var(--highlight-color);
}

.eyes {
  transform: translateY(-4px);
}

.eye .right {
  transform: translateX(22px);
  fill: var(--highlight-color);
}

.smile {
  stroke: var(--highlight-color);
  stroke-width: 5px;
  stroke-linecap: round;
  fill: none;
  transform: translateY(16px);
}
