.face, .face * {
  transform-origin: center center;
  transform-box: fill-box;
}

.eyes {
}
.eye.left {
  transform: translateX(-22px);
  fill: var(--eye-color);
}

.eye.right {
  transform: translateX(22px);
  fill: var(--eye-color);
}

.pupil {
  fill: var(--pupil-color);
}
